body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    
}

header {
    display: flex;
    justify-content: space-around
}

.menu {
    
}

.enlace {
    text-decoration: none;
    color: white;
    padding: 10px;
    opacity: 0.7;
}

.enlace:hover {
    opacity: 1;
}

.logo_principal {
    margin-top: 80px;
    width: 162px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    margin-top: 15px;
}

.title {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.bold {
    font-weight: bold;
}

.subtitle {
 margin-bottom: 15px;   
}

.button {
    border: 1px solid white;
    border-radius: 7px;
}

.button:hover {
   background-color: white; 
   color: black;
}

.button_container {
    margin-top: 40px;
}
