

.header {
    background-image: url("https://picsum.photos/1200/300");
    height: 250px;
}

a {
    text-decoration: none;
}

.menu {
    background-color: rgba(255, 255, 255, 0.572);
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 10px;
}

.main {
    background-color: #FEFAD7;
    color: rgb(71, 70, 70);
    padding: 10px 20px;
}

.orange {
    color: rgb(239, 177, 62);
    font-family: Arial, Helvetica, sans-serif;
}

.espacios {
    margin: 10px;
    padding: 10px;
}

.destacado {
    color: orange;
    background-color: rgb(247, 189, 81);
}

.footer {
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
}