
body {
    display: flex;
    align-items: center;
}

.card-pricing {
    background-color: black;
    height: 300px;
    width: 200px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.card-title {
    margin: 10px 0px
}

.card-subtitle {
    font-size: 12px;
    margin-bottom: 12px;
}

.card-price {
    background-color: rgba(61, 60, 60, 0.452);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.card-list {
   list-style: none; 
   text-align: center;
   padding: 0;
   font-size: 10px;
}

.card-list li {
    margin: 6px 0;
    color: rgb(77, 76, 76);
}

.button {
    background-color: rgba(61, 60, 60, 0.452);
    padding: 8px 19px;
    border-radius: 32px;
    font-size: 12px;
}

.card-header {
    text-align: center;
}

.highlight .card-header {
    background-color: rgb(235, 100, 46);
    width: 100%;
    text-align: center;
}

.highlight .card-price {
    color: rgb(6, 176, 182);
}

.highlight .button {
    background-color: rgb(6, 176, 182);
}

.highlight.card-pricing {
    height: 350px;
    width: 250px;
}

