body {
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.logo {
    height: 40px;
    margin-right: 20px;
}

header {
    display: flex;
    align-items: center;
}

.title {
    color: rgb(138, 56, 56);
}

.hero {
    background-image: url('images/hero.jpg'); ;
    background-size: cover;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.527);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
    background-color: rgb(112, 17, 17);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.testimonials {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    background-color: aquamarine;
    font-size: 12px;
    width: 500px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(247, 224, 224, 0.658);
    margin-bottom: 20px;
}

.testimonial .title {
     font-style: italic;
}

.testimonial .subtitle {
    font-size: 10px;
}

footer {
     background-color: rgb(112, 17, 17);
     color: white;
     padding: 10px;
     font-size: 10px;
     text-align: center;
}